{% load blog_tags %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>
        {%block title%}
        {% endblock %}
    </title>
</head>
<body>
    <div id="content">
        {%block content%}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h1>My Blog</h1>
        <p>Welcome to my blog . I have published {% total_posts %} posts so far.</p>
        <h3>Latest Posts</h3>
        {% show_latest_posts %}
    </div>
</body>

</html>
                                                                            