{% extends 'blog/base.html' %}
{% block title%} {{ post.title }} {% endblock %}
{% block content%}
    <h2>{{ post.title }}</h2>
    <p class="date">
        Published on {{ post.publish }}  by {{ post.author }}
        <br>
        {{post.body|truncatewords:25}}
    </p>

    <p>
        <a href="{% url 'blog:post_share' post.id %}">
            Share this post

        </a>
    </p>

    {% with total=comments.count %}
      <h2> {{ total }} Comment{{ total|pluralize }} </h2>
    {% endwith %}
    {% for c in comments %}
       <div class="comment">
        <p class="info">
            Comment {{forloop.counter}} by {{ c.name }} on {{ c.created }}
        </p>
        {{c.body|linebreaks}}
       </div>
       {% empty%}
         <p> No comments yet </p>
    {% endfor %}
        
    {% include 'blog/post/includes/comment_form.html' %}
    
{% endblock %}