{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title%} {{ post.title }} {% endblock %}
{% block content%}
    <h2>{{ post.title }}</h2>
    <p class="date">
        Published on {{ post.publish }}  by {{ post.author }}
        <br>
        {{post.body|markdown}}
    </p>

    <p>
        <a href="{% url 'blog:post_share' post.id %}">
            Share this post

        </a>
    </p>




    {% with total=comments.count %}
      <h2> {{ total }} Comment{{ total|pluralize }} </h2>
    {% endwith %}
    {% for c in comments %}
       <div class="comment">
        <p class="info">
            Comment {{forloop.counter}} by {{ c.name }} on {{ c.created }}
        </p>
        {{c.body|linebreaks}}
       </div>
       {% empty%}
         <p> No comments yet </p>
    {% endfor %}



    <h2> Similar Posts </h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{post.get_absolute_url}}">
            {{ post.title }}
        </a>
    </p>
    {% empty %}
        <p> No similar posts yet </p>

        <p class="tags">
            Tags: {%for tag in post.tags.all %}
                <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                {% comment %} {% if not forloop.last %}, {% endif %} {% endcomment %}
            {% endfor %}
        </p>
    {% endfor %}
        
    {% include 'blog/post/includes/comment_form.html' %}
    
{% endblock %}